#skills .skill__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}


@media (max-width:1024px){
    #skills .skills__container{
        grid-template-columns: 100%;
    }
    #skills .skill__container .skill__card{
    width: 80%;
    padding: 2rem;
    margin: auto;
    }
    #skills .skill__content{
        padding: 1rem;
    }
}
@media (max-width: 600px){
    #skills .skill__container{
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #skills .skill__container .skill__card{
        width: 100%;
        padding: 2rem 1rem;
    }
}